.topNav {
    position: fixed;
    top:0;
    width: 100%;
    min-height: 3.5rem;
    max-height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    img {
        width: 30px;
        margin: 0 10px;
    }
}

.bottomNav {
    position: fixed;
    bottom:0;
    width: 100%;
    min-height: 3.5rem;
    max-height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid black;
    padding-top: 4px;

    img {
        width: 30px;
    }
}

a {
    img:hover {
    filter: invert(40%);
    }
}

.homeContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}