.accountPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    h1 {
        margin: 0;
    }
}

.accountPageHeader {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    align-items: center;
    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.accountPageHeaderContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    button {
        border-radius: 9999px;
        border: 1px solid var(--border-color);
        background-color: var(--bg-color);
        padding: 5px 10px;
    }
}

.accountPageBody {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    img {
        width: 20px;
    }
    p {
        max-width: 300px;
    }
}

.accountPagePosts {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    h2 {
        font-size: 20px;
        border-bottom: 1px solid var(--border-color);
        text-align: left;
        margin:0;
        padding: 5px 10px;
        background-color: var(--bg-color-two);
    }
}