@mixin lg {
    @media (min-width: 600px) {
        @content
    }
}

.postContainer {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
    padding: 10px;
    gap: 10px;
    max-width: 598px;
    margin: auto;
    @include lg {
        justify-content: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

.postAvatar {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.postBody {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.postHeader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 598px;
}

.postHeaderText {
    display: flex;
    align-items: center;
    h3 {
        margin: 0;

        span {
            font-weight: 100;
        }
        img {
            width: 15px;
            margin: 0 5px;
        }
    }
}
    
.postHeaderDescription {
    p {
        margin: 0;
        color: black;
    }
}

.postFooter {
    display: flex;
    gap: 10px;
}

.postFooterBtn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6px;
    transition: all .25s ease-in-out;
    &:hover {
        background-color: rgba(55, 117, 145, .25);
        img {
            filter: invert(10%);
        }
    }
    
    img {
        width: 20px;
    }
}